![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [23]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [24]:
best_math_schools = schools[schools["average_math"] >= 0.8 * 800]

In [25]:
best_math_schools = best_math_schools.sort_values("average_math", ascending=False)[["school_name","average_math"]]

In [26]:
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

In [27]:
top_10_schools = schools.sort_values("total_SAT", ascending = False)[:10][["school_name","total_SAT"]]

In [28]:
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [29]:
grouped = schools.groupby("borough")
SAT_stat = grouped["total_SAT"].agg(["min", "max", "median","std"]).round(2)
largest_std_dev = SAT_stat[SAT_stat["std"] == SAT_stat["std"].max()]
largest_std_dev

            min   max  median     std
borough
Manhattan  1005  2144  1284.0  230.29

In [30]:
counts = grouped.size()
print(counts)

borough
Bronx             98
Brooklyn         109
Manhattan         89
Queens            69
Staten Island     10
dtype: int64

In [31]:
borough_stats = (
    schools.groupby("borough")
           .agg(
               num_schools=("total_SAT", "count"),
               average_SAT=("total_SAT", "mean"),
               std_SAT=("total_SAT", "std")
           )
)

# Select the row with the maximum std_SAT
largest_std_dev = borough_stats.loc[[borough_stats["std_SAT"].idxmax()]].round(2)